<launch>
    <machine name='nest' address='10.42.0.1' env-loader='/home/turtlebot/catkin_ws/src/swarm_launch/envNest.sh' user='turtlebot'>
    
    </machine>

    <machine name='robot' address='10.42.0.2' env-loader='/home/turtlebot/catkin_ws/src/swarm_launch/env1.sh' user='turtlebot'>
    </machine>

    <node pkg="rospy_tutorials" type="talker.py" name="x" output="screen" required="true" machine='nest'>
    </node>
    <node pkg="rospy_tutorials" type="listener.py" name="robot" output="screen" required="true" machine='robot'>
    </node>
</launch>